/* Mostly from: https://www.w3schools.com/howto/howto_css_coming_soon.asp */

/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
    height: 100%
}

/* Fill and center background image */
html {
  background: url('assets/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.main-content {
    /* Full-screen */
    height: 100%;
    /* Enable absolutely positioned elements inside the div (place text) */
    position: relative;
    color: white;
    font-family: Georgia, serif;
    font-size: 25px;
}

#counter {
  font-weight: bold;
}

h1 {
  font-weight: lighter;
}

.bg-star {
  background-image: url('assets/star.svg');
  height: 95%;
  background-repeat: no-repeat;
  background-position: center;
}

.notice {
  position: absolute;
  top: 0;
  font-weight: bold;
}

/* Position text in the bottom-left corner */
.bottomleft {
    position: absolute;
    bottom: 1%;
    left: 1%;
    font-size: 15px;
}

.bottomleft a {
  color: white;
}

/* Position text in the middle */
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
